html, body{
    margin: 0%;
    padding: 0%;
    width: 100%;
    background-color: rgb(245, 6, 6);

}
/*Configura o TEXTO*/
.menu-principal h1 {
    margin-top: 20%;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aliceblue;
    font-size: 10em;
    text-shadow: 0 1px 0 rgb(255, 255, 255),
    0 2px 0 rgb(161, 160, 160),
    0 3px 0 rgb(201, 199, 199),
    0 4px 0 rgb(189, 186, 186),
    0 5px 0 rgb(145, 145, 145),
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}
marquee{
    margin-top: 10%;
    BORDER-RIGHT: #fafafa solid; 
    BORDER-TOP: #f8f7f7  solid; 
    BORDER-LEFT: #fdfdfd  solid; 
    BORDER-BOTTOM: #f8f8f8  solid;
}